* { box-sizing: border-box; }
.mine { text-align: right; color: yellow; margin: 3px; }
.other { color: white; margin: 3px; }
.system { text-align: center; color: gray; margin: 3px; }
.mine div:first-child, .other div:first-child { font-size: 12px; }
.mine div:last-child, .other div:last-child {
  display: inline-block;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 5px;
  max-width: 300px;
}
.send-button{
  text-align:center;
  font-size:22px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 8px;
}
#chat-list { height: 500px; overflow: auto; padding: 5px; }
#chat-form { text-align: right; }
#chat, #chat-form [type='submit'] {
  display: inline-block;
  height: 30px;
  vertical-align: top;
  border:1px solid black;
  border-radius: 8px;
}
#chat-fieldset{
  border:1px solid black;
  border-radius: 8px;
  margin:3px;
}